<template name='mainpane'>
<div id='mainpane-container'>
    <div id='mainpane'>
        <div id='mainpane-topbar' class='wrapper'>
            <div id='mainpane-title' class='pull-left'>
                <i class='icon fa {{icon}}'></i>
                <span class='title'>{{title}}</span>
            </div>
            <div id='mainpane-user' class='pull-right'>
                <span class='username'>{{username}}</span>
                <span class='connectivity'>{{connectivity}}</span>
            </div>
        </div>
    </div>
</div>
</template>