<template name='sidebar'>
<div id='sidebar' class='pull-left'>
    <div id='sidebar-topleft' class='wrapper'>
        <span id='sidebar-title' class='pull-left'><b>TOP</b>FORTY</span>
        <span id='navbar' class='pull-right'><i id='navbar-toggle' class='fa fa-caret-down'></i></span>
    </div>
    {{> datepicker}}
    {{> searchbar}}
    {{> chartfilter}}
    {{> chartlist}}
</div>
</template>

<!-- DATEPICKER -->
<template name='datepicker'>
<div id='datepicker'>
    <div class='datepicker-field'>
        <div class='datepicker-title'>Year</div>
        <ul id='datepicker-year' class='datepicker-dropdown-menu'>
            <li class='datepicker-dropdown-trigger'>
                <div class='datepicker-dropdown-value'><span class='text'></span><i class='icon fa fa-caret-down'></i></div>
                <div class='datepicker-dropdown-options'></div>
            </li>
        </ul>
    </div>
    <div class='datepicker-field'>
        <div class='datepicker-title'>Month</div>
        <ul id='datepicker-month' class='datepicker-dropdown-menu'>
            <li class='datepicker-dropdown-trigger'>
                <div class='datepicker-dropdown-value'><span class='text'></span><i class='icon fa fa-caret-down'></i></div>
                <div class='datepicker-dropdown-options'></div>
            </li>
        </ul>
    </div>
    <div class='datepicker-field'>
        <div class='datepicker-title'>Week</div>
        <ul id='datepicker-week' class='datepicker-dropdown-menu'>
            <li class='datepicker-dropdown-trigger'>
                <div class='datepicker-dropdown-value'><span class='text'></span><i class='icon fa fa-caret-down'></i></div>
                <div class='datepicker-dropdown-options'></div>
            </li>
        </ul>
    </div>
</div>
</template>

<!-- SEARCHBAR -->
<template name='searchbar'>
<div class='searchbar'>
    <i class='icon fa fa-search fa-flip-horizontal'></i>
    <input class='search-input' type='text' placeholder='SEARCH A SONG' />
</div>
</template>

<!-- CHARTFILTER -->
<template name='chartfilter'>
<div id='chartfilter'>
    <span class='chartfilter-option hover'>By Ranking</span>
    <span class='chartfilter-option'>By Song</span>
    <span class='chartfilter-option'>By Artist</span>
</div>
</template>

<!-- CHARTLIST -->

<template name='chartsong'>
<div class='song'>
    <i class='icon fa fa-play'></i>
    <span class='name'>{{song}}</span>
    <span class='artist'>{{artist}}</span>
</div>
</template>

<template name='chartlist'>
<div id='chartlist'>
    {{#each songs}}
    {{> chartsong}}
    {{/each}}
</div>
</template>